<div class="fuq-accordion" [ngClass]="rootClassName">
  <div data-role="accordion-container" class="fuq-element accordion-element">
    <div class="fuq-details">
      <span class="fuq-text">
        What is sit amet, consectetur adipiscing elit, sed do?
        <span [innerHTML]="raw3o2y"></span>
      </span>
      <span data-role="accordion-content" class="fuq-text01">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id.
        <span [innerHTML]="rawecv2"></span>
      </span>
    </div>
    <div data-role="accordion-icon">
      <svg viewBox="0 0 1024 1024" class="fuq-icon">
        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
      </svg>
    </div>
  </div>
  <div data-role="accordion-container" class="fuq-element1 accordion-element">
    <div class="fuq-details1">
      <span class="fuq-text02">
        We&apos;ll update amet, consectetur adipiscing elit until you&apos;re
        100% happy.
      </span>
      <span data-role="accordion-content" class="fuq-text03">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id.
        <span [innerHTML]="raw8tgo"></span>
      </span>
    </div>
    <div data-role="accordion-icon">
      <svg viewBox="0 0 1024 1024" class="fuq-icon02">
        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
      </svg>
    </div>
  </div>
  <div data-role="accordion-container" class="fuq-element2 accordion-element">
    <div class="fuq-details2">
      <span class="fuq-text04">
        Is it really sit amet, consectetur adipiscing elit, sed do?
      </span>
      <span data-role="accordion-content" class="fuq-text05">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id.
        <span [innerHTML]="raw3uzo"></span>
      </span>
    </div>
    <div data-role="accordion-icon">
      <svg viewBox="0 0 1024 1024" class="fuq-icon04">
        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
      </svg>
    </div>
  </div>
  <div data-role="accordion-container" class="fuq-element3 accordion-element">
    <div class="fuq-details3">
      <span class="fuq-text06">
        We work, what is sit amet, consectetur adipiscing elit, sed do sint
        occaecat cupidatat non proident
      </span>
      <span data-role="accordion-content" class="fuq-text07">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id.
        <span [innerHTML]="rawiuf6"></span>
      </span>
    </div>
    <div data-role="accordion-icon">
      <svg viewBox="0 0 1024 1024" class="fuq-icon06">
        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
      </svg>
    </div>
  </div>
  <div data-role="accordion-container" class="fuq-element4 accordion-element">
    <div class="fuq-details4">
      <span class="fuq-text08">
        What is sit amet, consectetur adipiscing elit, sed do?
        <span [innerHTML]="rawdc3b"></span>
      </span>
      <span data-role="accordion-content" class="fuq-text09">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id.
        <span [innerHTML]="rawhxxn"></span>
      </span>
    </div>
    <div data-role="accordion-icon">
      <svg viewBox="0 0 1024 1024" class="fuq-icon08">
        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
      </svg>
    </div>
  </div>
  <div data-role="accordion-container" class="fuq-element5 accordion-element">
    <div class="fuq-details5">
      <span class="fuq-text10">
        Amet, consectetur adipiscing elit mollit anim id est laborum.
      </span>
      <span data-role="accordion-content" class="fuq-text11">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id.
        <span [innerHTML]="rawgmsh"></span>
      </span>
    </div>
    <div data-role="accordion-icon">
      <svg viewBox="0 0 1024 1024" class="fuq-icon10">
        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
      </svg>
    </div>
  </div>
</div>
